.articont{
    border: 1px solid red;
    width: 90%; margin: 2vw auto;
}

.narticlepost{
    background-color: aliceblue;
    padding: 30px 50px;
    border: 0px solid hotpink; border-radius: 5px;
    width: 800px; 
    margin: 3vw auto;
    display: flex;
    flex-direction: column;
}

.postimg{
    max-height: 500px;
    max-width:100%;
}

.npara{
    margin: 1vw auto;
}

.readMore{
    border: 0px solid blue;
    margin: 1vw 0vw;
    color: inherit;
    text-decoration: none;
}
.readMore:hover{
    color: aqua;
}


.likeview{
    border-top: 2px solid aqua;
    display: flex; flex-direction: row;
    padding: 1vw 1.5vw 0.8vw 1.5vw;
    margin-top: 1vw;
}
.liked{
    color: #c71844;
}